<?xml version="1.0"?>
<ruleset name="betterplace-donation-embed">
	<description>WPCS-based ruleset for the betterplace-donation-embed plugin.</description>

	<file>./betterplace-donation-embed.php</file>
	<file>./includes/</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/e2e/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="betterplace-donation-embed"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
